@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'oswald', sans-serif;
}

body {
    background-color: #3d5a80;
}

.main {
    width: 100%;
    min-width: 450px;
    min-height: calc(100vh - 70px);
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.conteudo {
    width: 80%;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

#btnEnviar {
    background-color: #FECD84;
    border: 0;
    padding: 5px;
    border-radius: 10px;
}

#btnEnviar:hover {
    background-color: #fbb54b;
    transition: 500ms;
}

.sectionNormal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.radioSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}