<!DOCTYPE html>
<html lang="pt-br">
    <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../style/style.css">
      <title>Academ.ia - Integrantes</title>
    </head>
    <body>
        <header>
            <a href="../index.html"><img src="../img/Academ_ia.png" alt="logo" title="logo"></a>
            <a href="../index.html">Início</a>
            <a href="../views/playlist.html">Músicas</a>
        </header>
        <div class="main">
            <div class="conteudo">
                <h1>Membros do Grupo</h1>
                <div class="integrantes">
                    <div class="integrantes_img">
                        <h2>Cesar Leonardo</h2>
                        <img src="../img/Cesar.jpg" alt="">
                        <p>RGM - 43643752</p>
                    </div>
                    <div class="integrantes_img">
                        <h2>Matheus Ferreira</h2>
                        <img src="../img/Matheus.jpg" alt="">
                        <p>RGM - 42674158</p>
                    </div>
                    <div class="integrantes_img">
                        <h2>Bruno Leonardo</h2>
                        <img src="../img/Bruno.jpg" alt="">
                        <p>RGM - 43642268</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>