<!DOCTYPE html>
<html lang="pt-br">
    <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../style/style.css">
      <title>Academ.ia - Integrantes</title>
    </head>
    <body>
        <header>
            <a href="../index.html"><img src="../img/Academ_ia.png" alt="logo" title="logo"></a>
            <a href="../index.html">Início</a>
            <a href="../views/integrantes.html">Integrantes</a>
        </header>
        <div class="main">
            <div class="conteudo">
                <h1>3 Sugestões de Música Para seu Treino:</h1>
                <div class="slider">
                    <div class="slides">
                        <div class="slide active">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/n4tK7LYFxI0?si=VJ2xSZheiUTP7U6f" title="Shine - Youtube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="slide">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/3nQNiWdeH2Q?si=gN4E5JDp0Qor7ly8" title="Heroes Tonight - Youtube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="slide">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/C6IaUMAg3Dc?si=FTbXduzCMHWQ5U46" title="We Are - Youtube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="dots">
                        <span class="dot active" onclick="goToSlide(0)"></span>
                        <span class="dot" onclick="goToSlide(1)"></span>
                        <span class="dot" onclick="goToSlide(2)"></span>
                    </div>
                </div>
                <p>Se essas músicas te interessaram, temos essa <a href="https://www.youtube.com/watch?v=K4DyBUG242c&list=PLRBp0Fe2Gpgn8Y9qI-p0aTxVtw8onBSFj" target="_blank">playlist</a> pra você!</p>
            </div>
        </div>
    </body>
    <script src="../scripts/script_playlist.js"></script>
</html>